.sales {

    margin-left: 700px;
    margin-top: 50px;
    width: 700px
}
h1 {
    /* Add your styles here */
    font-size: 60px;
    font-weight: bold;
    color: #ad2323;
    margin-left: 240px;
    margin-bottom: 50px;
    margin-top: 200px;
    
    
  }